* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  /* Global Styles */
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }

  button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }
  
  body {
    width: 100%;
  }

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(48, 68, 110);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);    
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }

#navbar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li{
  position: relative;
  list-style: none;
  padding: 0 20px;
}

.cartAmount{
  position: absolute;
  top: -9px;
  right: 0px;
  font-size: 16px;
  padding: 2px;
  border-radius: 3px;
  background-color: red;
  color: white;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
 color: lightblue;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: lightblue;
  position: absolute;
  bottom: -4px;
  left: 25px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* Home Page */

#hero{
  background-image: url("images/hero3.jpg");
  height: 100vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}

#hero h1{
  color: #100881;
}
#hero p{
  font-size: 20px;
  color: #1a1a1a;
}

#hero button{
  background-color: #100881;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  font-size: 18px
}
#hero button:hover{
  color: #100881;
  background-color: #fff;
}


#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(48, 68, 110);
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background-color: #fff;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(60, 220, 81, 0.5);
}

#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #100881;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}

#product1{
  text-align: center;
}
#product1 h2,p{
  color: #100881;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px 0px 12px;
  background-color: rgb(48, 68, 110);
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #c6d314;
  font-size: 16px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #129cbe;
  font-size: 18px;
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 18px;
  font-weight: 700;
  color: #12be3d;
}

#quantity-container{
  position: relative;
  display: flex;
  justify-content:flex-end;
  font-weight: 900;
}
#quantity-container .quantity{
 color: #ffd20b;
 margin-right: 5px;
 margin-top: 2px;
}
.bi-dash-lg{
  color: rgb(255, 0, 0);
  background-color: black;
  border: 1px solid rgb(255, 0, 0);
  line-height: 20px;
  margin-right: 5px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.bi-dash-lg:hover{
  cursor: pointer;
}
.bi-plus-lg{
  color:#3bf569;
  background-color: black;
  border: 1px solid #3bf569;
  line-height: 20px;
  margin-right: 5px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.bi-plus-lg:hover{
  cursor: pointer;
}

#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #100881;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 55px;
  right: 16px;
}

#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightblue;
  background-image: url("images/features/bottombanner.jpg");
  width: 100%;
  height: 40vh;
  background-position: 40% 40%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#banner h2{
  color: #cce7d0;
  font-size: 40px;
  padding: 10px 0;
  margin-bottom: 20px;
}
#banner h2 span{
  color: #ef3636;
}
#explore{
  background: #100881;
  color: white;
}
#explore:hover{
  background: white;
  color: #100881;
}

/* Shop Page */

#page-header{
  background-image: url("images/features/topbanner");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  
}
#page-header h2,
#page-header h1,
#page-header p{
  color: #cce7d0;
}

#pagination{
  background-color: lightblue;
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #100881;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a:hover{
  background-color: #fff;
  color: #100881;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

#page-footer{
  background-image: url("images/features/bottombanner.jpg");
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-footer h2,
#page-footer h1,
#page-footer p{
  color: #cce7d0;
}

/* Contact Page */

.contact-header{
  background-image: url("images/features/contactbanner.png");
  width: 100%;
  height: 25vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

.contact-header h2,
.contact-header h1,
.contact-header p{
  color: #cce7d0;
}

#form-details{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form span{
  font-size: 18px;
}

#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button{
  background-color: #100881;
  color: white;
}
#form-details form button:hover{
  background-color: #e1e1e1;
  color: #100881;
}


/* Cart Page */
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
.bi-x-circle{
  font-size: 22px
}
#cart table img{
  width: 70px;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 15px;
}

#cart-quantity-container{
  position: relative;
  display: flex;
  justify-content:center;
  font-weight: 900;
  margin-top: 15px;
}
#cart-quantity-container .quantity{
  color: #1a1a1a;
  margin-right: 5px;
  margin-top: 2px;
 }

#subtotal{
  width: 50%;
  margin-bottom: 20px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

.section-p2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#subtotal h3{
  margin-bottom: 20px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 16px;
}
#subtotal button{
  background-color: #100881;
  color: white;
  padding: 12px 20px;
}
#subtotal button:hover{
  background-color: #cce7d0;
  color: #100881;
}

/* Media Query Section */

@media (max-width:799px){
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active{
    right: 0px;
  }
  #navbar li{
    margin-bottom: 25px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #mobile .cart{
    font-size: 20px;
  }
  #mobile .cartAmount{
    z-index: -5;
    position: absolute;
    top: 25px;
    right: 110px;
  }
  #navbar .cartAmount{
    top: 200px;
    right: 207px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  /* Cart Page */
  #cart{
    overflow-x: auto;
  }
}

@media (max-width:477px){
  #header{
    padding: 10px 30px;
  }
  h2{
    font-size: 32px;
  }
  h1{
    font-size: 38px;
  }
  
  #navbar .cartAmount{
    top: 200px;
    right: 207px;
  }
  #mobile .cartAmount{
    z-index: -5;
    position: absolute;
    top: 17px;
    right: 60px;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  .section-p1{
    padding: 20px;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro{
    width: 100%;
  }

  #banner h2{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 180px;
  }
  #explore{
    margin-top: 10px;
    margin-right: 150px;
  }

  /* Contant Page */
  #form-details form{
    width: 100%;
  }

  /* Cart Page */
  #cart{
    overflow-x: auto;
  }
}